.wrapper111{
    background-color: #fff;
}
.wrapper_wpr {
    width: 100%;
    height: auto;
    background-color: #fff;
}
.main_mn {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.content_ct {
    width: 40%;
    margin-left: 10%;
}
.content_ct .title_te {
    width: 100%;
    height: 100%;
}

.title_te .heading {
    text-transform: uppercase;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}
.heading_hdg .introduce_ine {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.heading_hdg .span-heading {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    margin-left: 0;
}

.border00 {
    width: 60px;
    height: 5px;
    background-color: #74b048;
    margin-top: 25px;
    top: 100%;
    /* background-color: black; */
}

.border11 {
    width: 60px;
    height: 3px;
    background-color: black;
}
.image_ie_hinh {
    width: 50%;
    height: 100%;
}
.image_ie_hinh img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destion_det {
    line-height: 1.7;
    color: #777;
    margin-top: 35px;
}
.vision_vsn {
    display: flex;
    /* justify-contnet: space-between; */
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.visionDes_vsnDes {
    margin-left: 72px;
    margin-bottom: 15px;
    width: 560px;
}

.Container_ctr_gioithieu {
    height: auto;
    width: 100%;
    background-color: #fff;
}
.Schedu_su {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10% 0 0 0;
    margin-right: 10%;
}
.TrainImg_TnImg > .Schedubg_subg {
    position: absolute;
    top: 10px;
    z-index: -1;
    width: 30%;
    height: auto;
}
.odd_o_d {
    position: absolute;
    right: 0px;
    z-index: -1;
}
.ScheduTitle_sute {
    text-align: center;
    width: 100%;
}
.ScheduH2_suH2 {
    font-size: 32px;
}
.Train_Tn {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.TrainImg_TnImg {
    width: 50%;
    z-index: 1;
}
.TrainImg_TnImg img {
    width: 100%;
    border-radius: 10px;
}
.TrainContent_TnCt {
    width: 50%;
    padding: 10% 10% 0 10%;
}
.TrainContentSpan_TnCtSpan {
    text-align: justify;
    margin-bottom: 15px;
    font-size: 120%;
}
.TrainContentP_TnCtP {
    width: 100%;
    line-height: 1.7;
    color: #777;
    margin-bottom: 20px;
}
.Link_lk {
    color: #74b048;
    font-weight: 700;
    /* out-line: none; */
}
.LinkFresher_lkF {
    color: #e3783a;
    font-weight: 700;
    /* out-line: none; */
}
.LinkIntern_lkI {
    color: #74b048;
    font-weight: 700;
    /* out-line: none; */
}

@media screen and (max-width: 1100px) {
    .Schedubg {
        width: 25% !important;
    }
    .TrainContent {
        padding: 0 10% !important;
    }
}
@media screen and (max-width: 550px) {
    .Container_ctr_gioithieu {
        display: flex;
        flex-direction: column !important;
    }
    .Schedu_su {
        flex-direction: column !important;
        padding: 10px 0;
    }
    .Train {
        flex-direction: column;
    }
    .Schedu-reverse {
        display: flex;
        flex-direction: column-reverse !important;
    }
    .Schedubg {
        display: none;
    }
    .TrainImg_TnImg,
    .TrainContent_TnCt {
        width: 100% !important;
    }
    .TrainContent_TnCt {
        padding: 0 !important;
    }

    .TextDes {
        font-size: 18px;
    }

    .DesLocation_DesLct {
        width: 50%;
        height: 200px;
        flex-direction: column;
    }

    .DesLeft {
        height: 72%;
        width: 20%;
        font-size: 18px;
    }

    .DesRight {
        height: 72%;
        width: 20%;
        margin-top: -25px;
        margin-left: -48px;
    }

    .DesEmployee span {
        font-size: 15px;
    }

    .RightEmployee span {
        font-size: 15px;
    }

    .font_ftt {
        left: -240px;
    }
    .number_NMber .title_te h2 {
        width: 100%;
        margin-left: 0px;
    }

    .number_NMber .title_te span {
        margin-top: 10px;
        left: 0;
        transform: translateX(-55px);
        min-width: 70%;
        position: absolute;
    }

    .Location_Lct {
        /* overflow-x: hidden; */
        overflow: scroll;
    }

    .items_ims {
        width: 100%;
        padding: 0;
    }
    .items_ims img {
        width: 100%;
        height: 70%;
    }

    .title_te .des_D {
        width: 70%;
    }
}

.Place_Pe {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    margin-top: 175px;
}
.RowPadding_RwPddg {
    width: 20%;
    height: 310px;
    background-color: #eee;
}
.Row_Rw {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.RowContent_RwCt {
    height: 100%;
    width: 60%;
    background-color: #eee;
}
.ContentPlace_CtPe {
    width: 100%;
    height: 708px;
}
.TitlePlace_teP {
    font-weight: 700;
    color: #9a9c9f;
    font-size: 25px;
}
.ContentP_CtP {
    padding: 60px 80px 20px 0px;
}
.TextDes_TtDes {
    font-size: 20px;
    color: #282828;
}
.Location_Lct {
    width: 100%;
    height: 32%;
    display: flex;
    margin-top: 10px;
}
.LocationItem_LctIm {
    width: 60%;
    height: 210px;
    cursor: pointer;
}
.BorderPlace_BdrP {
    margin-top: 20px;
    width: 130px;
    border: 2px solid #fff;
}
.BorderPlace_BdrP:hover {
    border: 2px solid #74b048;
}
.ItemPlace_ImP {
    width: 130px;
    height: 170px;
    margin-top: 18px;
}
.ImgPlace_IgP {
    width: 130px;
    height: 97px;
}
.ImgPlace_IgP img {
    width: 130px;
    height: 100%;
    object-fit: cover;
}
.DesLocation_DesLct {
    width: 70%;
    height: 174px;
    display: flex;
}
.DesLeft_DLt {
    width: 267px;
    height: 100%;
}
.DesBox_Dbx {
    width: 100%;
    height: 32%;
}
.BoxP_bxP {
    width: 20%;
    height: 50%;
}
.BoxStrong_bxSg .num_NM_haha {
    color: #98999a;
    font-size: 200%;
}
.DesEmployee_DEe {
    margin-top: -15px;
    color: #98999a;
    font-size: 18px;
}

.DesEmployee_DEe span {
    width: 200px;
    display: block;
}
.DesRight_DRt {
    width: 394px;
    height: 100%;
}
.RightBox_Rtbx {
    width: 393px;
    height: 142px;
    margin-left: 50px;
}
.RightP_Rtp {
    width: 373px;
    height: 52px;
}
.RightStrong_RtSg {
    color: #98999a;
    font-size: 200%;
}

.RightEmployee_RtEe {
    padding-top: 20px;
    color: #98999a;
    font-size: 18px;
}
.RowItems_RwIms {
    min-height: 100%;
    width: 27%;
    margin-left: 30px;
    overflow-y: auto;
    height: 300px; /* đặt chiều cao của khung cuộn */
    overflow: scroll; /* cho phép vùng nội dung cuộn */
}
.items_ims {
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
}
.items_ims img {
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.number_NMber {
    width: 100%;
    height: 474px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(https://fsoft-academy.edu.vn/wp-content/uploads/2021/05/bg-gt.png);
    position: relative;
}

.title_te {
    width: 1080px;
    height: 42px;
}
.title_te .h2222 {
    color: #fff;
    padding-top: 20px;
    font-size: 32px;
    margin-bottom: 0;
}
.title_te .des_D {
    color: #f1f1f1;
    font-size: 18px;
    margin-top: 25px;
}
.font_ftt {
    width: 83%;
    height: 212px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 235px;
    display: flex;
    margin-top: -30px;
}
.item_im {
    width: 270px;
    height: 100%;
    column-gap: 10px;
}
.icon_ic {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: -20px;
}
.icon-img_ii {
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.icon-img_ii img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-top: -20px;
    font-weight: 500;
}
.item-des {
    width: 240px;
    height: 100px;
    margin-top: 20px;
}
span.num_NM_haha {
    color: #ffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 30px;
}

span.text_tt {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
    margin-left: 30px;
}

.listOfImage_LOI {
    width: 41%;
    height: 40%;
    margin: 21px 25%;
    text-align: center;
    color: #808080;
}

@media screen and (max-width: 550px) {
    .listOfImage {
        width: 80%;
        height: 40%;
        margin: 21px 9%;
        text-align: center;
        color: #808080;
    }

    .form-main {
        width: 59%;
        height: 50%;
        /* display: flex; */
        align-items: center;
        background-image: url(https://fsoft-academy.edu.vn/wp-content/themes/flatsome-child/assets/images/bg-form-about.png);
        box-shadow: 50px 50px #d8e8ed;
        margin-left: -304px;
    }

    .form-right {
        width: 98%;
        height: 70%;
        background-color: rgb(255, 255, 255);
    }
}

.number_NMber .title_te {
    width: 100%;
    /* margin-top: 60px; */
    margin: 0 auto;
    position: relative;
}
.number_NMber .title_te h2 {
    /* width: 100%;
    font-weight: 700;
    margin-bottom: 30px; */

    text-align: center;
    border-bottom: 0;
    text-transform: uppercase;
    color: #fff;
}
.number_NMber .title_te span {
    /* display: inline-block;
    width: 42%;
     margin-left: 30%; 
    text-align: center;
    font-size: 16px;
    color: #fff;
    position: absolute; */

    display: flex;
    width: 45%;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #fff;
    position: absolute;
    justify-content: space-between;
    margin-left: 29%;
}
.Outer_Or {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}
.Inner_Ir {
    width: 100%;
    height: 100%;
}
.Photos_hihi {
    list-style: none;
    height: 80%;
    width: 80%;
    border-radius: 45%;
}
.Inner_Ir .swiper {
    width: 90%;
    height: 90%;
}
.Inner_Ir .swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: visible;
    width: 100%;
}
.Inner_Ir .swiper-container .swiper-zoom-container > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    border-radius: 50%;
}
.Inner_Ir .swiper-pagination-bullets {
    display: none;
}
.Inner_Ir .swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: linear;
}
