.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-size: cover;

    .Header-format {
        display: flex;
        justify-content: space-around;
        background-color: #fff;
    }
    .Image {
        width: 110px;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .Text {
        margin-left: 20px;
        margin-right: 20px;
        color: #363636;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            color: #67a13e;
        }
    }
    .GroupText {
        position: relative;
        margin-left: 140px;
        display: flex;
        margin-top: 0.5%;
    }
}
